<!DOCTYPE html>
<html>

<head>
  <title>Reservations</title>
</head>

<body>
  <h1>Reservations</h1>
  <a href="{% url 'reservation_create' %}">Create new reservation</a>
  <ul>
    {% for reservation in reservations %}
    <li>
      <a href="{% url 'reservation_detail' reservation.pk %}">{{ reservation }}</a>
      <a href="{% url 'reservation_update' reservation.pk %}">Edit</a>
      <a href="{% url 'reservation_delete' reservation.pk %}">Delete</a>
    </li>
    {% endfor %}
  </ul>
</body>

</html>
