<!DOCTYPE html>
<html>
<head>
    <title>Reportes</title>
</head>
<body>
    <h1>Reportes</h1>
    <a href="{% url 'report_create' %}">Crear nuevo reporte</a>
    <ul>
        {% for report in reports %}
            <li>
                <a href="{% url 'report_detail' report.pk %}">{{ report.title }}</a>
                <a href="{% url 'report_update' report.pk %}">Editar</a>
                <a href="{% url 'report_delete' report.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
