<!DOCTYPE html>
<html>
<head>
    <title>Facturas</title>
</head>
<body>
    <h1>Facturas</h1>
    <a href="{% url 'invoice_create' %}">Crear nueva factura</a>
    <ul>
        {% for invoice in invoices %}
            <li>
                <a href="{% url 'invoice_detail' invoice.pk %}">{{ invoice.reservation.guest.username }} - {{ invoice.amount }}</a>
                <a href="{% url 'invoice_update' invoice.pk %}">Editar</a>
                <a href="{% url 'invoice_delete' invoice.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
